.move-up-container {
  animation: move-up 0.2s linear;
  transform: rotate(-30deg) translateY(-50%) translateX(-50%);
}

@keyframes move-up {
  0% {
    transform: rotate(-30deg) translateY(0%) translateX(-70%);
  }
  100% {
    transform: rotate(-30deg) translateY(-50%) translateX(-50%);
  }
}

.move-right-container {
  animation: move-right 0.2s linear;
  transform: rotate(180deg) translateY(40%) translateX(0%);
}

@keyframes move-right {
  0% {
    transform: rotate(180deg) translateY(50%) translateX(50%);
  }
  100% {
    transform: rotate(180deg) translateY(40%) translateX(0%);
  }
}

.move-down-container {
  animation: move-down 0.2s linear;
  transform: rotate(30deg) translateY(-50%) translateX(50%);
}

@keyframes move-down {
  0% {
    transform: rotate(30deg) translateY(0%) translateX(70%);
  }
  100% {
    transform: rotate(30deg) translateY(-50%) translateX(50%);
  }
}
